

.dashboard-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // border: 1px solid red;

    @media (max-width: 800px) {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 500px) {
      width: 100%;
      height: 100%;
    }

   
      .dashboard-div {
        // border: 1px solid green;
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-between;
        align-content: center;
        //box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);   
        //background: #2eb497;
        //border-bottom: 2px solid#2eb29a;
        padding: 15px;
        //margin: 3vh auto;

        @media (max-width: 800px) {
          width: 100%;
          height: 100%;
        }
    
        @media (max-width: 500px) {
          width: 100%;
          height: 100%;
        }

        .map {
          min-width: 800px;
          min-height: 800px;
          max-height: 800px;
          max-width: 800px;
          border-radius: 3px;
          // width: 642px;
          // height: 642px;
          // border: 4px solid blue;
          background-color: rgb(24, 155, 149);
          display: inline-flex;
          align-content: center;
          margin-right: 5px;

          @media (max-width: 800px) {
            width: 100%;
            height: 100%;
          }
      
          @media (max-width: 500px) {
            width: 100%;
            height: 100%;
          }

        }//end map

        .right-half {
          width: 35%;
          height: 100%;
          //border: 1px solid purple;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-content: center;

          @media (max-width: 800px) {
            width: 100%;
            height: 100%;
          }
      
          @media (max-width: 500px) {
            width: 100%;
            height: 100%;
          }


          .rooms{
            width: 90%;
            height: 30%;
            // border: 1px solid red;
            text-overflow: scroll;

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }

            h3 {
              font-family: 'Jim Nightshade', cursive; 
              font-size: 2rem;
            }
  
          }

          .error-msg{
            width: 90%;
            height: 10%;                       

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }            
  
          }

          .players{
            width: 90%;
            height: 30%;
            // border: 1px solid red;
            overflow: scroll;

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }

            h3 {
              font-family: 'Jim Nightshade', cursive; 
              font-size: 2rem;
            }
  
          }

          .directions{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 90%;
            height: 30%;
            // border: 1px solid goldenrod;

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }

            .north{
              margin-top: 5%;
              height: 30%;
            }

            .east-west{             
              height: 30%;

              .west-btn {
                margin-right: 5%;
              }
            }

            .south{
              height: 30%;
            } 
            
            button {                   
              
              background: #212229;
              text-align: center;
              padding: 5px 5px;
              border-radius: 3px;
              //border: 1px solid goldenrod;
              color: white;              
              cursor: pointer;
             
          
              &:hover {
                background: black;
                color: white;
              }
              
              
              @media (max-width: 800px) {              
                width: 100%;    
                
              }
          
              @media (max-width: 500px) {              
                width: 100%;
                
              }
          
            }
          
  
          }//end directions

      


        }//end map

        ///////START OF ROOM CASE CLASSES
        .grass{
          width: 40px;
          height: 40px;
          background-color: green;
          background-image: url("../assets/GrassLight.png");
          position: relative;
          background-size: contain;

        }
        .roomRed{
          width: 40px;
          height: 40px;
          background-image: url("../assets/CarpetRed.png");
          position: relative;
          background-size: contain;

        }
        .pathNSZ{
          width: 40px;
          height: 40px;
          background-image: url("../assets/PathNSZ.png");
          position: relative;
          background-size: contain;
        }
        .roomGreen{
          width: 40px;
          height: 40px;
          background-image: url("../assets/GreenCarpet.png");
          position: relative;
          background-size: contain;

        }
        .weeds{
          width: 40px;
          height: 40px;
          background-color: green;
          background-image: url("../assets/Weeds.png");
          position: relative;
          background-size: contain;
        }
        .canal{
          width: 40px;
          height: 40px;
          background-color: rgb(11, 196, 196);
          background-image: url("../assets/Canal.png");
          border-radius: 3px;
          position: relative;
          background-size: contain;
        }
        .canalWCap{
          width: 40px;
          height: 40px;
          background-color: rgb(11, 196, 196);
          background-image: url("../assets/CanalWCap.png");
          position: relative;
          background-size: contain;
        }
        .canalECap{
          width: 40px;
          height: 40px;
          background-color: rgb(11, 196, 196);
          background-image: url("../assets/CanalECap.png");
          position: relative;
          background-size: contain;
        }
        .bridgeWE{
          width: 40px;
          height: 40px;
          background-color: green;
          background-image: url("../assets/BridgeWE.png");
          position: relative;
          background-size: contain;

        }
        .bridgeNS{
          width: 40px;
          height: 40px;
          background-color: green;
          background-image: url("../assets/BridgeNS.png");
          position: relative;
          background-size: contain;

        }
        .pathNSStairs{
          width: 40px;
          height: 40px;
          background-color: green;
          background-image: url("../assets/PathNSStairs.png");
          position: relative;
          background-size: contain;
        }
        .house{
          width: 40px;
          height: 40px;
          background-color: green;
          border-radius: 3px;
          background-image: url("../assets/House.png");
          position: relative;
          background-size: contain;
        }
        .bridgeUL{
          width: 40px;
          height: 40px;
          background-color: green;
          background-image: url("../assets/BridgeUpLeft.png");
          position: relative;
          background-size: contain;

        }
        .bridgeUR{
          width: 40px;
          height: 40px;
          background-color: green;
          background-image: url("../assets/BridgeUpRight.png");
          position: relative;
          background-size: contain;

        }
        .solidWater{
          width: 40px;
          height: 40px;
          background-color: green;
          border-radius: 3px;
          background-image: url("../assets/SolidWater.png");
          position: relative;
          background-size: contain;

        }
        .bush{
          width: 40px;
          height: 40px;
          background-image: url("../assets/Bush.png");
          position: relative;
          background-size: contain;

        }
        .pathWE{
          width: 40px;
          height: 40px;
          background-image: url("../assets/PathWE.png");
          position: relative;
          background-size: contain;

        }
        .pathWEThin{
          width: 40px;
          height: 40px;
          background-image: url("../assets/PathWEThin.png");
          position: relative;
          background-size: contain;


        }
        .pathNS{
          width: 40px;
          height: 40px;
          background-image: url("../assets/PathNS.png");
          position: relative;
          background-size: contain;

        }

        .npath{
          border-top: 2px solid black;
          width: 40px;
          height:40px;
        }
        .spath{
          border-bottom: 2px solid black;
          width: 40px;
          height:40px;
        }
        .epath{
          border-right: 2px solid black;
          width: 40px;
          height:40px;
        }
        .wpath{
          border-left: 2px solid black;
          width: 40px;
          height:40px;
        }
        .wall{
          border: 1px solid grey;
          width: 40px;
          height: 40px;
          background-color: grey;
        }
        .current{
          border: 1px solid red;
          width: 40px;
          height: 40px;
          background-color: indigo;
        }

          .gridContainer{
            display: flex;
            align-content: space-around;
            justify-content: center;
            overflow-x: auto;
            background-image: url("../assets/Map800x800x32x32.bmp");
            background-size: contain;
            flex-wrap: wrap;
            height: 500px;
            width: 500px;
            border:2px solid goldenrod;

          }
          .charContainer{
            position: relative;
            z-index: 100000;
                       
          }
          .char{
          position: absolute;
          width: 40px;
          height:40px;
          // width: 32px;
          // height: 32px;
        } 
        .tile{
          height:40px;
          width: 40px;
          // height:32px;
          // width: 32px;
        }

          
      }//end dashboard-div   

}//end dashboard-container