.header {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 10em;
  padding-left: 5em;
  height: 10vh;
  color: white;
  box-shadow: 0 5px 3px 0 rgb(151, 151, 151);

  @media (max-width: 800px) {
    width: 100%;
    height: auto;
  }

  @media (max-width: 500px) {
    width: 100%;
    height: auto;
  }

  h2 {
    font-size: 3rem;
    font-family: 'Jim Nightshade', cursive;
    cursor: pointer;
  }

  .logout-btn {
    
    //width: 12%;
    //height: 48px;
    //margin-right: 5px;
    //margin-top: 0px;
    //background: #212229;
    //text-align: center;
    //padding: 0 0;
    //border-radius: 3px;
    //border: 1px solid goldenrod;
    //color: white;
    //font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    
    font-family: 'Jim Nightshade', cursive;

    &:hover {
      background: black;
      color: white;
    }


    @media (max-width: 800px) {
      width: 100%;

    }

    @media (max-width: 500px) {
      width: 100%;

    }

  }


}
