.header {
  background-color: #282c34;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  height: 10vh;
  color: white;
  box-shadow: 0 5px 3px 0 rgb(151, 151, 151);

  @media (max-width: 800px) {
    width: 100%;
    height: auto;
  }

  @media (max-width: 500px) {
    width: 100%;
    height: auto;
  }

  h2 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 3.5rem;
    font-family: 'Jim Nightshade', cursive;
    //font-family: 'Monoton', cursive;
    //font-family: 'Quantico', sans-serif;
    //font-family: 'Rock Salt', cursive;
    //font-family: 'Black Ops One', cursive;
    //font-family: 'Love Ya Like A Sister', cursive;
  }

  .logout-btn {
    width: 12%;
    height: 48px;
    margin-right: 5px;
    margin-top: 0px;
    background: #212229;
    text-align: center;
    padding: 0 0;
    border-radius: 3px;
    border: 1px solid goldenrod;
    color: white;
    //background-color: black;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      background: black;
      color: white;
    }


    @media (max-width: 800px) {
      width: 100%;

    }

    @media (max-width: 500px) {
      width: 100%;

    }

  }


}
